/*Estilo de la galería*/
.galeria
{
  width: 90%;
  margin: auto;
  list-style: none;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.galeria li{
  margin: 10px;
}
.galeria img{
  width: 225px;
  height: 175px;
  border-radius: 25px;
  border: 2px solid rgba(131, 54, 144, 0.66);
  box-shadow: 0px 5px 8px rgb(248, 230, 203);
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}
/*Estilo para la ventana modal*/
.modal{
  display: none;
}
.modal:target
{
  display: block;
  position: fixed;
  background: rgb(248, 230, 203);
  top: 0;
  left: 0;
  width: 100%;
  font-size: 30px;
}
.modal h3
{
  color: #ffffff;
  text-align: center;
  margin: 10px 0;
  font-size: 30px;
}
.imagen
{
  width: 150%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
img.galeria
{
  max-width: 80%;
  max-height: 90%;
  border: 5px solid #81319d;
  box-sizing: border-box;
  border-radius: 25px;
}
